.errorMessage {
  padding: 2rem;
  margin: 0 auto;
  width: fit-content;
  background-color: var(--primary-dark-2);
  border-radius: 5px;

  button {
    padding: 5px 10px;
    border-radius: 5px;
    margin-left: 10px;
  }
}
