.header {
  height: 80px;
  background-color: var(--primary-dark-2);
  margin-bottom: 3rem;
  display: flex;

  .headerContainer {
    max-width: 1280px;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
