@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

:root {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.light {
  --backgroundColor: #f2f2f2;
  --accentBackground: #fff;
  --text-color: #111517;
  --placeholderColor: #c4c4c4;
}

.dark {
  --backgroundColor: #202c36;
  --accentBackground: #2b3844;
  --text-color: #fff;
  --placeholderColor: #fff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: var(--backgroundColor);
  color: var(--text-color);
}

button {
  outline: none;
  border: none;
  cursor: pointer;
  color: var(--text-color);
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  background-color: transparent;
  font-size: 16px;
}

#root {
  min-height: 100vh;
  width: 100%;
  height: 1px;
}

h1 {
  font-size: 24px;
  font-weight: 800;

  @media (max-width: 992px) {
    font-size: 14px;
  }
}

h2 {
  font-size: 32px;
  font-weight: 800;

  @media (max-width: 992px) {
    font-size: 22px;
  }
}

h3 {
  font-weight: 800;
  font-size: 18px;
  line-height: 26px;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

#menu-countries-filter {
  .MuiPopover-paper {
    margin-top: 10px;
    background-color: var(--accentBackground);

    ul {
      li {
        font-size: 14px;
        color: var(--text-color);
      }
    }
  }
}
